* {
  margin: 0;
  padding: 0;
}
body {
  background: #2d3436;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: clamp(2rem, 4vw, 6vw);
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  color: #dfe6e9;
  line-height: 1.2;
}
