* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #212529;
  background: #f1f3f5;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.container {
  max-width: 768px;
  background: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 8px;
  overflow: hidden;
}

p {
  margin-bottom: 1.5rem;
}

img {
  padding: 0.5rem 1rem;
}

.align-right {
  float: right;
  padding-right: 0;
  transform: translateX(10vw);
  opacity: 0;
  transition: all 0.75s;
}

.align-left {
  float: left;
  padding-left: 0;
  transform: translateX(-10vw);
  opacity: 0;
  transition: all 0.75s;
}

.animate-slide {
  transform: translateX(0);
  opacity: 1;
}
